*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Shared Styles */
.btn-primary{
    color: #FFFFFF;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 20px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
.text-gray{
    color: #727272;
    margin: 30px 0 30px;
    line-height: 25px;
}


/* Header Styles */
header{
    background-color: rgb(255, 144, 14, 0.10);
}
.top-part{
    max-width: 1440px;
    margin: auto;
    padding: 50px 0;
}
.logo{
    color: black;
    font-weight: 700;
    font-size: 2.8rem;
}
.logo span{
    color: #FF900E;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    gap: 30px;
    padding: 0;
}
nav li{
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: black;
}

/* Banner Styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 50px auto 0;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: black;
}

.banner img{
    width: 100%;
    margin-top: 50px;
}

/* Main Part Styles */
main{
    max-width: 1440px;
    margin: 50px 100px;
}
.team-container{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 50px auto;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.section-title{
    color: #000;
    font-size: 2.8rem;
    font-weight: 700;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.features{
    color: #FF900E;
}

/* Facts Styles */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.facts-card-container .card{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}
.facts-card-container img{
    margin-top: 40px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin: 5px 0;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

/* Sponsors Styles */
.sponsors{
    margin: 100px 0;
    text-align: center;
}
.sponsors-container{
    display: flex;
    justify-content: space-around;
}

/* Footer Styles */
footer{
    text-align: center;
    background-color: rgb(255, 144, 14, 0.10);
    width: 80%;
    margin: 0 auto 50px;
    padding: 5px;
    border-radius: 8px;
}


/* Media Queries for Mobile Phone */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .team-container{
        flex-direction:column;
        gap: 20px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title{
        font-size: 2.2rem;
    }
    .team-images{
        grid-template-columns: 1fr;
    }
    main{
        margin: 50px 30px;
        text-align: center;
    }
    .facts-card-container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        
    }
}

/* Media Queries for Tablet */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 30px 100px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title{
        font-size: 3rem;
    }
    main{
        margin: 50px 30px;
        text-align: center;
    }
    .team-container{
        flex-direction: column;
        margin: 0 70px;
    }
    .facts-card-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
        
    }
}